<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsh.erp.datasource.mappers.InOutItemMapperEx">
    <select id="selectInOutItemByFlow2"  resultMap="com.jsh.erp.datasource.mappers.InOutItemMapper.BaseResultMap">
        select * from view_project_account_flow where 1=1 and id = #{id}
    </select>
</mapper>